[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=PasswordCheckerSettings
GenericName=Passwordchecker service settings
Comment=Change password reset notification settings
Name[ru]=PasswordCheckerSettings
GenericName[ru]=Настройки сервиса passwordchecker
Comment[ru]=Изменение настроек уведомлений о смене пароля
Exec=/usr/bin/PasswordCheckerSettings
Terminal=false
Categories=Settings;