[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=PasswordChecker
Name[ru]=PasswordChecker
GenericName=Passwordchecker service settings
GenericName[ru]=Настройки сервиса passwordchecker
Comment=Change password expiration notification settings
Comment[ru]=Изменение настроек уведомлений об истечении срока действия пароля
StartupWMClass=org.altlinux.password-checker
Icon=org.altlinux.password-checker
Exec=/usr/bin/password-checker
TryExec=/usr/bin/password-checker
Terminal=false
Categories=Settings;