[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=PasswordChecker
GenericName=Passwordchecker service settings
Comment=Change password reset notification settings
Name[ru]=PasswordChecker
GenericName[ru]=Настройки сервиса passwordchecker
Comment[ru]=Изменение настроек уведомлений о смене пароля
Exec=/usr/bin/password-checker
TryExec=/usr/bin/password-checker
Terminal=false
Categories=Settings;